.todo-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/*make todo responsive*/
@media only screen and (max-width:768px) {
    .todo-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:769px) and (max-width:992px) {
    .todo-container{
        grid-template-columns: repeat(2, 1fr);
    }
}